<div class="container">
    <h1>Edit Member</h1>

    <%= form_for(@member, url: member_path(@member)) do |form| %>
        <div>
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: 'form-control' %>
            <% if @member.errors.full_messages_for(:first_name).present? %>       
                <div class="alert alert-warning" role="alert">
                    <% @member.errors.full_messages_for(:first_name).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div>
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: 'form-control' %>
            <% if @member.errors.full_messages_for(:last_name).present? %>       
                <div class="alert alert-warning" role="alert">
                    <% @member.errors.full_messages_for(:last_name).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email, class: 'form-control' %>
            <% if @member.errors.full_messages_for(:email).present? %>       
                <div class="alert alert-warning" role="alert">
                    <% @member.errors.full_messages_for(:email).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div>
            <%= form.label :date_of_birth %>
            <%= form.date_field :date_of_birth, class: 'form-control' %>
            <% if @member.errors.full_messages_for(:date_of_birth).present? %>       
                <div class="alert alert-warning" role="alert">
                    <% @member.errors.full_messages_for(:date_of_birth).each do |message| %>
                        <div><%= message %></div>
                    <% end %>
                </div>
            <% end %>
        </div>
        
        <br/>

        <%= link_to "Back", members_path, id: "back-btn", class: "btn btn-default", method: :get %>
        <%= form.submit 'Update', class: 'btn btn-primary' %> 
    <%end%>
</div>