<div class="container">
    <h1>Member</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><b>Firstname</b></td>
                <td><%= @member.first_name %></td>
            </tr>
            <tr>
                <td><b>Lastname</b></td>
                <td><%= @member.last_name %></td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td><%= @member.email %></td>
            </tr>
            <tr>
                <td><b>Date of Birth</b></td>
                <td><%= @member.date_of_birth %></td>
            </tr>
            <tr>
                <td><b>Club Games Played</b></td>
                <td><%= @member.club_games_played %></td>
            </tr>
        </tbody>
    </table>
    <%= link_to "Back", members_path, id: "back-btn", class: "btn btn-default", method: :get %>
    <%= link_to "Edit", edit_member_path(@member.id), id: "back-btn", class: "btn btn-primary", method: :get %>
</div>